#main {
	width: 70%;
	float:left;
}
#sidebar {
	width:29%;
	float:right;
}
#code-left {
	width: 50%;
	float:left;
}
#code-right {
	width:50%;
	float:right;
}
#p1code,#p2code {
	height:200px;
}
#p1code,#p2code,#p1s,#p2s {
	width: 100%;
}
#map img {
	width: 100%;
	height: 600px
}
#sidebar h2 {
	text-align: center;
}
#sidebar {
	border: 1px solid black;
	overflow: hidden;
}

#messageInput {
	width: 100%;
}